@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;

  background: radial-gradient(circle at top, #000000, #02030a);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTENEDOR PRINCIPAL */
.body-container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
}

/* CARD CENTRAL */
.green-bg {
  width: 100%;
  border-radius: 20px;
  padding: 25px 20px;

  background: rgba(15, 15, 15, 0.648);
  backdrop-filter: blur(15px);

  border: 1px solid rgb(19, 19, 18);

  box-shadow: 0 0 40px rgb(34, 255, 0);
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 20px;
}

.logo img {
  height: 75px;
  filter: drop-shadow(0 0 10px rgba(43, 255, 0, 0.468));
}

/* TEXTO */
.main-text p {
  font-size: 1.2rem;
  color: #ffc400;
  text-align: center;
  letter-spacing: 1px;
}

.main-text span {
  font-size: 1.6rem;
  font-weight: 600;
  color: #2fff00;
  text-align: center;
}

/* INPUT */
.form-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.name-input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;

  border: 1px solid rgba(13, 255, 0, 0.4);
  background: rgba(255,255,255,0.05);

  color: #fff;
  text-align: center;
  font-size: 16px;

  transition: 0.3s;
}

.name-input::placeholder {
  color: rgba(255,255,255,0.4);
}

.name-input:focus {
  outline: none;
  border: 1px solid #00ff00;
  box-shadow: 0 0 12px rgba(30, 255, 0, 0.6);
}

/* BOTÓN */
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button {
  width: 100%;
  padding: 14px;

  border-radius: 14px;
  border: none;

  background: linear-gradient(135deg, #00ff1e, #000000);
  color: rgb(255, 255, 255);

  font-size: 18px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transition: 0.25s;
}

.button img {
  width: 22px;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(255, 179, 0, 0.9);
}

/* TEXTO INFERIOR */
.text-bottom-container {
  margin-top: 20px;
  text-align: center;
  color: rgba(255,255,255,0.7);
  font-size: 0.9rem;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* ANIMACIÓN SUAVE */
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fade 0.8s ease forwards;
}

@keyframes fade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* EFECTO SUTIL */
.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.03);
  }
}
